*.deb
*.pkg.tar.zst
*.rpm
ubuntu/staging/
arch/staging/
fedora/staging/
fedora/rpmbuild/
opensuse/staging/
opensuse/rpmbuild/
macos/staging/
macos/third-party/
continuum-vpn-widget-*-macos-*.zip
continuum-vpn-widget-macos-*.zip
windows/staging/
windows/third-party/
*.exe
!windows/tests/bin/*.exe
continuum-vpn-widget-*-windows-*.zip
continuum-vpn-widget-windows-*.zip
ubuntu/third-party/
__pycache__/
*.pyc
